 
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}
      


        .container {
            max-width: 1000px;
            margin: 20px auto;
            background-color: #ffffff;
            border: 2px solid #2c3e50;
            display: inline;
            
        }
        

       
        header {
            background-color: #2c3e50;
            color: white;
            padding: 20px;
            text-align: center;
        }

        header h1 {
            margin-bottom: 5px;
        }

        header p {
            font-size: 14px;
            opacity: 0.9;
        }

        
        nav {
            background-color: #34495e;
            padding: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
            font-size: 14px;
        }

        nav a:hover {
            text-decoration: underline;
        }
        footer {
    background-color: rgb(11, 117, 131);
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
    color:#f4f4f4;
    font-size: 20px;
}

